# Gradle
.gradle/
build/
gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Логи и временные файлы
*.log
*.tmp

# OS
.DS_Store
Thumbs.db